.vscode/**
node_modules/**
!node_modules/
!node_modules/@cspell/
!node_modules/@cspell/dict-css/**
!node_modules/@cspell/dict-en_us/**
!node_modules/@cspell/dict-html/**
!node_modules/@cspell/dict-software-terms/**
!node_modules/@cspell/dict-typescript/**
src/**
test/**
dist/src/**
dist/test/**
*.map
**/*.map
tsconfig.json
.gitignore
package-lock.json
